@model Login_Authenticate.Models.Login
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <p>@Html.ValidationSummary(false, string.Empty, new { @class = "text-danger" })</p>
        <p>
            @Html.LabelFor(m => m.Username, new { @class = "label label-primary" })
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Username)
        </p>
        <p>
            @Html.LabelFor(m => m.Password, new { @class = "label label-primary" })
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password)
        </p>
        <p>
            <input type="submit" class="btn btn-info" name="Submit" value="Submit" />
        </p>
    }

</div>